{% extends 'layout.html' %}
{% block content%}

<div class="main -container">
    <div class="welcome-container">
        <div class="welcome">
            <h2>WELCOME</h2>
            <p>Explore the Sullivan Heights school: Get dropped off in the busy halls of the hub, to the long stairs of the basement!</p>
            <a href="google.com"> Play Now </a>
        </div>

        <div class="earth">
            <img src="static/img/earth1.png">
        </div>

    </div>
    
    
</div>


{% endblock %}